/* color */
$light-blue: #8BB4FF;
$blue: #6993E9;
$dark-blue: #5471D7;
$light-orange: #FD9F5B;
$orange: #EB7338;
$bg-orange: #FF8C39;
$dark-orange: #E36127;
$light-pink: #FD96AD;
$pink: #F67093;
$dark-pink: #DC4E6D;
$white: #FBFBFB;
$mi: #EAD1C2;
$dark-mi: #D0A197;
$light-black: #423e3e;
$black: #352f2f;
$dark-black: #262022;


.courseDetail-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
  	width: 70%;
  	height: auto;
  	margin-top: 50px;
    color: $light-black;

  	.title {
  		font-size: 24px;
      padding-bottom:  8px;
      border-bottom: 1px solid $light-black;
      margin-bottom: 24px;
  	}
  	.list {
  		width: 100%;
  		font-size: calc( 0.5vw + 10px );
      display: inline-block;
      height: 30px;
      line-height: 30px;

       * {
        display: inline-block;
        margin: 0px;
        padding: 0px;
       }

  		.icon {
  			width: 18px;
  		}
  		.desc {
        width: 40%;
        padding-left: 18px;
  		}
  		.content {
        width: 45%;
  		}
  	}

    .btn-collect {
      margin-top: 30px;
      width: 100%;
    }

    .btn-list {
      display: inline-block;
      width: 15%;
      height: 40px;
      line-height: 40px;
      margin-right: 5%;
      font-size: calc( 0.5vw + 8px );
      text-align: center;
      color: white;
      transition-duration: 1s;
      letter-spacing: 3px;
    }

    .btn-list:hover {
      background-color: white;
      cursor: pointer;
    }

    .blue-btn {
      background-color: $light-blue;
      border: 1px solid $light-blue;
    }

    .blue-btn:hover {
      color: $dark-blue;
    }

    .pink-btn {
      background-color: $light-pink;
      border: 1px solid $light-pink;
    }

    .pink-btn:hover {
      color: $dark-pink;
    }

    .orange-btn{
      background-color: $light-orange;
      border: 1px solid $light-orange;
    }

    .orange-btn:hover{
      color: $orange;
    }

    .mi-btn {
      background-color: $mi;
      border: 1px solid $mi;
    }

    .mi-btn:hover {
      color: $dark-mi;
    }
  }
}

@media screen and (max-width: 900px),  screen and (max-device-width: 900px){
  .courseDetail-container{ 
    .content {
      width: 90%;
      
      .btn-list {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}