/* color */
$light-blue: #8BB4FF;
$blue: #6993E9;
$dark-blue: #5471D7;
$light-orange: #FD9F5B;
$orange: #EB7338;
$bg-orange: #FF8C39;
$dark-orange: #E36127;
$light-pink: #FD96AD;
$pink: #F67093;
$dark-pink: #DC4E6D;
$white: #FBFBFB;
$mi: #EAD1C2;
$dark-mi: #D0A197;
$light-black: #423e3e;
$black: #352f2f;
$dark-black: #262022;

#triangle{
    position: absolute;
    top: 40px;
    right: 112px;
    width: 20px;
    height: 20px;
    border: 20px solid;
    border-color: transparent transparent $white transparent;
}

.notify-container {
	display: flex;
	justify-content: center;
	align-items: center;

	.content {
		width: 80%;
      font-size: 12px;
		height: auto;
		margin-top: 50px;
		color: $light-black;
	}

	.title {
  		font-size: 24px;
      	padding-bottom:  8px;
      	border-bottom: 1px solid $light-black;
      	margin-bottom: 24px;
  	}

	.list {
		width: 100%;
		font-size: 12px;
        position: relative;
		display: block;
		height: 40px;
		
		border-bottom: 1px solid $light-black;
		margin-top: 10px;
		margin-bottom: 10px;

		.icon {
            border-radius: 5px;
			max-width: calc( 1vw + 14px );
			margin-bottom: 10px;
		}

        .descIcon{

          float:left;
        }

		.desc {
			width: 80%;
			padding-left: 2vw;
          float:left;
		}

	}

    #showNotify a{
        color: white;
    }
    
}



header .notify-container {
	position: absolute;
	top: 73px;
	width: 400px;
	height: 385px;
	right: 100px;
	align-items: stretch;
	background: $white;
    overflow: auto;
    padding-top: 20px;
    padding-left: 30px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    border-radius: 4px;

	.content {
		width: 100%;
		margin-top: 0;
        .title{
            display: none;
        }

        .date{
            display: none;
        }

	}

    .list{
        border-bottom: 0;
        height: 50px;
        line-height: 20px;
        line-height: initial;
        margin-bottom: 40px;
        font-size: calc( 0.6vw + 6px );

        .icon{
            float: left;
            display: block;
            max-width: calc( 1vw + 30px );

        }
        .desc{
            float: right;
            display: block;
            height: 50px;
            width: 85%;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 0;
            border-bottom: 1px solid $light-black;
        }
    }


    #showNotify{
        font-size: 14px;
        width: 100%;
        text-align: center;
    }

    #showNotify a{
        color: $blue;
    }

}

@media screen and (max-width: 900px),  screen and (max-device-width: 900px){

  #triangle{
    display:none;
  }

  header .notify-container{
    top: 46px;
    right: 0;
    width: 320px;
    .content {
      .title{
      }

      .date{
      }

    }

    .list{
      font-size: 12px;
      .icon{

      }
      .desc{
      }
    }


    #showNotify{
    }

    #showNotify a{
    }
  }
}