@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
/* color */
.light-blue {
  color: #8BB4FF; }

.blue {
  color: #6993E9; }

.dark-blue {
  color: #5471D7; }

.light-orange {
  color: #FD9F5B; }

.orange {
  color: #EB7338; }

.bg-orange {
  color: #FF8C39; }

.dark-orange {
  color: #E36127; }

.light-pink {
  color: #FD96AD; }

.pink {
  color: #F67093; }

.dark-pink {
  color: #DC4E6D; }

.white {
  color: #FBFBFB; }

.mi {
  color: #EAD1C2; }

.dark-mi {
  color: #D0A197; }

.light-black {
  color: #423e3e; }

.black {
  color: #352f2f; }

.dark-black {
  color: #262022; }

.visibility-hidden {
  opacity: 0;
  visibility: hidden; }

.cursor-pointer {
  cursor: pointer; }

/* global */
a {
  color: #FBFBFB; }

a:hover {
  color: #FBFBFB;
  text-decoration: none; }

body {
  font-family: 'Noto Sans TC', sans-serif , Arial , Heltevica; }

.clickable:hover {
  cursor: pointer; }

.desk-only {
  display: none; }

#sideMenu {
  position: fixed;
  right: -320px;
  top: 0;
  width: 320px;
  height: 100%;
  z-index: 998;
  background: #352f2f;
  /* Safari */
  transition: right 0.8s; }
  #sideMenu #sideContent {
    width: 80%;
    margin: auto;
    margin-top: 45px;
    height: 100%; }
    #sideMenu #sideContent #sideProfile {
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 2px solid #FBFBFB; }
      #sideMenu #sideContent #sideProfile img {
        width: 30px; }
      #sideMenu #sideContent #sideProfile span {
        line-height: 30px;
        padding-left: 15px;
        font-family: sans-serif;
        letter-spacing: 2px;
        color: #FBFBFB;
        font-size: 18px;
        letter-spacing: 2px; }
    #sideMenu #sideContent .sideRow {
      color: #FBFBFB;
      font-size: calc( 9px + 1.034vw);
      letter-spacing: 2px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(251, 251, 251, 0.6); }
    #sideMenu #sideContent .sideBg {
      width: inherit;
      position: absolute;
      bottom: 40px;
      opacity: 0.29; }

#blackBG {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* Safari */
  transition: opacity 0.8s;
  z-index: 990; }

/* modal */
.mod {
  position: fixed;
  margin-top: 10px;
  margin-left: 10px;
  top: 46px;
  width: calc(100vw - 20px);
  /* 46(header) + 10(border) + 10(border) + 41(footer) = */
  height: calc(100vh - 107px);
  border-radius: 4px;
  z-index: 991; }

.pinkModal {
  background: #F67093;
  box-shadow: 0 0 0 10px rgba(253, 150, 173, 0.3); }

.blueModal {
  background: #6993E9;
  box-shadow: 0 0 0 10px rgba(139, 180, 255, 0.3); }

.orangeModal {
  background: #FF8C39;
  box-shadow: 0 0 0 10px rgba(253, 158, 91, 0.3); }

.closeBtn {
  z-index: 992;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 5px;
  margin-right: 5px; }

.mod-content {
  height: 100%;
  overflow: auto; }
  .mod-content .mod-title {
    width: 90%;
    margin: auto; }
  .mod-content .mod-title-text {
    color: #FBFBFB;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #EAD1C2;
    letter-spacing: 5px; }
  .mod-content .mod-item {
    position: relative;
    padding: 40px;
    margin: auto; }
    .mod-content .mod-item .mod-text {
      color: #FBFBFB;
      font-size: 16px;
      line-height: 22px; }
  .mod-content .mod-add {
    height: 30%; }
    .mod-content .mod-add .mod-add-inputGroup {
      width: 100%;
      overflow: hidden;
      margin-bottom: 15px; }
      .mod-content .mod-add .mod-add-inputGroup .mod-add-text {
        float: left;
        height: 100%; }
      .mod-content .mod-add .mod-add-inputGroup .mod-add-inputBlock {
        float: right; }
        .mod-content .mod-add .mod-add-inputGroup .mod-add-inputBlock .mod-add-input {
          width: 100%;
          height: 28px;
          margin-bottom: 15px;
          border-radius: 20px;
          border-color: #dc4e6d;
          border-width: 2px; }
    .mod-content .mod-add .mod-add-icon {
      position: relative;
      color: rgba(255, 255, 255, 0.9);
      float: right;
      font-size: 28px; }
    .mod-content .mod-add .mod-add-btn {
      font-size: 32px; }
  .mod-content .mod-add-result {
    color: #fbfbfb;
    width: 90%;
    margin: auto; }
    .mod-content .mod-add-result table {
      width: 100%; }
    .mod-content .mod-add-result thead tr th {
      display: none; }
    .mod-content .mod-add-result tbody tr:nth-child(even) {
      background-color: rgba(253, 150, 173, 0.6); }
    .mod-content .mod-add-result tbody tr td {
      width: 100%;
      display: inline-block;
      border: 0;
      font-weight: 300;
      line-height: 30px;
      text-align: left;
      letter-spacing: 3px; }
    .mod-content .mod-add-result tbody tr td[data-title]:before {
      content: attr(data-title) "：";
      font-weight: 700;
      margin-right: 5px; }
    .mod-content .mod-add-result tbody tr .add-result-btn {
      width: 100%;
      border: 1px solid #fbfbfb;
      background-color: #FA6686;
      border-radius: 4px;
      margin-top: 5px;
      margin-bottom: 10px; }
  .mod-content .mod-config {
    width: 80%;
    height: 20%; }
    .mod-content .mod-config .mod-config-text {
      display: inline-box;
      float: left; }
    .mod-content .mod-config .mod-config-text:last-child {
      float: right; }
      .mod-content .mod-config .mod-config-text:last-child .mod-switch {
        margin-right: 0; }
  .mod-content .mod-link {
    width: 80%;
    height: 20%; }
    .mod-content .mod-link .mod-image {
      display: inline-block;
      float: left;
      width: 30px; }
    .mod-content .mod-link .mod-link-text {
      float: left;
      display: inline-block;
      width: calc( 100% - 30px);
      text-align: center;
      font-size: 12px;
      line-height: 30px; }
  .mod-content .mod-bg {
    width: 80%;
    margin: auto;
    opacity: 0.29; }
    .mod-content .mod-bg img {
      width: 100%; }

/* header */
header {
  background-color: #423e3e;
  border-bottom: 1px solid #979797;
  box-shadow: 0px 2px 4px 0px rgba(38, 32, 34, 0.53);
  color: #FBFBFB;
  position: relative;
  padding: 10px 0 10px 0;
  z-index: 999; }
  header #hd-container {
    position: relative;
    height: auto; }
    header #hd-container #title-wrap {
      width: 135px; }
      header #hd-container #title-wrap img {
        width: 25px;
        vertical-align: bottom;
        float: left; }
      header #hd-container #title-wrap h3 {
        text-align: center;
        font-family: Helvetica;
        font-size: 25px;
        line-height: 25px;
        margin: 0; }
    header #hd-container #profile {
      position: absolute;
      height: 100%;
      top: -5px;
      right: 0; }
      header #hd-container #profile ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: auto; }
        header #hd-container #profile ul li {
          font-size: 25px;
          float: left;
          margin-right: calc( 5px + 3vw);
          vertical-align: middle;
          line-height: 40px; }

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #423e3e;
  border-bottom: 1px solid #979797;
  box-shadow: 0px -2px 4px 0px rgba(38, 32, 34, 0.53);
  padding: 10px 0 10px 0;
  text-align: center;
  z-index: 999; }
  footer div * {
    line-height: 20px; }
  footer div h5 {
    color: #FBFBFB;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0; }
    footer div h5 a {
      color: #FBFBFB; }

@media screen and (min-width: 680px) {
  /* modal */
  .mod-content .mod-title-text {
    font-size: 25px; }
  .mod-content .mod-item {
    width: 400px; }
    .mod-content .mod-item .mod-text {
      font-size: 18px; }
  .mod-content .mod-add {
    width: 480px;
    padding: 0; }
    .mod-content .mod-add .mod-add-inputGroup {
      width: 100%; }
      .mod-content .mod-add .mod-add-inputGroup .mod-add-text {
        margin-right: 20px; }
      .mod-content .mod-add .mod-add-inputGroup .mod-add-inputBlock {
        float: left; }
        .mod-content .mod-add .mod-add-inputGroup .mod-add-inputBlock .mod-add-input {
          width: 175px;
          margin-right: 20px;
          float: left; }
      .mod-content .mod-add .mod-add-inputGroup .mod-add-inputBlock:last-child {
        float: right; }
  .mod-content .mod-link {
    width: 50%; }
    .mod-content .mod-link .mod-image {
      width: 40px; }
    .mod-content .mod-link .mod-link-text {
      text-align: center;
      width: calc(100% - 40px);
      line-height: 40px; } }

@media screen and (max-device-width: 900px) {
  #title-wrap {
    margin: 0 auto; } }

@media screen and (min-width: 900px) {
  .desk-only {
    display: initial; }
  .m-only {
    display: none; }
  header {
    height: 100px; }
    header #hd-container {
      position: absolute;
      width: calc(100% - ( 10vw  - 25px ) * 2);
      left: 50%;
      top: 50%;
      margin-left: calc( ( (10vw  - 25px) * 2  - 100% ) / 2);
      margin-top: -20px; }
      header #hd-container #title-wrap {
        width: 145px; }
        header #hd-container #title-wrap img {
          width: 35px; }
        header #hd-container #title-wrap h3 {
          font-size: 25px;
          line-height: 40px;
          margin: 0; }
      header #hd-container #profile ul li {
        margin-right: 5px;
        margin-left: 5px; }
      header #hd-container #profile ul #fb-icon img {
        width: 30px; }
      header #hd-container #profile ul #fb-name a {
        font-size: 18px;
        color: #FBFBFB; }
  footer {
    padding: 15px 0 15px 0; }
    footer div h5 {
      opacity: 60%;
      font-size: 14px; }
  /* modal */
  .pinkModal {
    box-shadow: 0 0 0 20px rgba(253, 150, 173, 0.6); }
  .blueModal {
    box-shadow: 0 0 0 20px rgba(139, 180, 255, 0.6); }
  .orangeModal {
    box-shadow: 0 0 0 20px rgba(253, 158, 91, 0.6); }
  .mod {
    width: 60vw;
    height: 60vh;
    top: 50%;
    margin-top: calc( -30vh + (49px / 2));
    right: 50%;
    margin-right: -30vw;
    border-radius: 22px; }
  .mod-content .mod-link .mod-image {
    width: 40px; }
  .mod-content .mod-link .mod-link-text {
    text-align: center;
    width: calc(100% - 40px);
    font-size: 16px;
    line-height: 40px; }
  .mod-content .mod-add-result {
    font-size: 16px;
    width: 90%; }
    .mod-content .mod-add-result th, .mod-content .mod-add-result td {
      padding: 5px;
      width: 12%;
      max-width: 12%;
      text-align: center;
      display: inline-block;
      text-overflow: ellipsis; }
    .mod-content .mod-add-result th:first-child, .mod-content .mod-add-result td:first-child {
      width: 25%;
      max-width: 25%; }
    .mod-content .mod-add-result thead tr {
      height: 50px;
      border-bottom: 2px solid #FBFBFB; }
      .mod-content .mod-add-result thead tr th {
        width: 12%;
        display: inline-block;
        font-weight: 400; }
    .mod-content .mod-add-result tbody tr:nth-child(2) {
      background-color: rgba(253, 150, 173, 0.6); }
    .mod-content .mod-add-result tbody tr td {
      display: inline-block;
      text-align: center;
      width: 12%;
      letter-spacing: 3px; }
    .mod-content .mod-add-result tbody tr td[data-title]:before {
      content: "";
      display: none; }
    .mod-content .mod-add-result tbody .mod-result-icon {
      font-size: 30px; } }

::-webkit-scrollbar {
  display: block; }

.blueClass {
  background-color: #8BB4FF; }

#container {
  z-index: 0;
  background-image: url("../../Cyinf/img/CyinfLogo_curr.png");
  background-repeat: no-repeat;
  background-position: center  center;
  background-size: auto;
  background-attachment: fixed;
  margin-top: 20px; }

#curriculum {
  width: 300px;
  height: 70vh;
  margin: 0 auto; }
  #curriculum #table-scroll {
    overflow: auto;
    margin-top: 60px;
    height: inherit; }
  #curriculum td:first-child, #curriculum th:first-child {
    border-left: none;
    color: #352f2f;
    width: 18px;
    min-width: 18px; }
  #curriculum td, #curriculum th {
    color: #FBFBFB;
    text-align: center;
    border-left: 1px solid #423e3e;
    font-size: 12px;
    min-width: 40px;
    width: 40px;
    height: 40px; }
  #curriculum td a, #curriculum td a:hover, #curriculum td a:visited, #curriculum td a:active {
    color: #FBFBFB; }
  #curriculum thead {
    z-index: 2; }
    #curriculum thead tr {
      position: absolute;
      top: 76px; }
      #curriculum thead tr th:first-child {
        min-width: 18px; }
      #curriculum thead tr th {
        color: #352f2f;
        border-bottom: 1px solid #352f2f;
        min-width: 40px;
        height: 30px;
        font-weight: 300; }
  #curriculum tbody tr {
    border-bottom: 1px solid #FBFBFB;
    overflow: hidden; }
    #curriculum tbody tr td {
      padding: 0 2px 0 2px; }

@media screen and (min-width: 470px) and (max-width: 680px) {
  #curriculum {
    width: 470px; }
    #curriculum td:first-child, #curriculum th:first-child {
      border-left: none;
      color: #352f2f;
      width: 20px;
      min-width: 20px; }
    #curriculum td, #curriculum th {
      width: 60px;
      height: 40px;
      font-size: 12px; }
    #curriculum thead tr th {
      height: 30px; } }

@media screen and (min-width: 680px) and (max-width: 900px) {
  #curriculum {
    width: 680px; }
    #curriculum td:first-child, #curriculum th:first-child {
      border-left: none;
      color: #352f2f;
      width: 20px;
      min-width: 20px; }
    #curriculum td, #curriculum th {
      width: 90px;
      height: 40px;
      font-size: 14px; }
    #curriculum thead tr th {
      height: 30px; } }

@media screen and (min-width: 900px) {
  #curriculum {
    width: 900px; }
    #curriculum td:first-child, #curriculum th:first-child {
      border-left: none;
      color: #352f2f;
      width: 30px;
      min-width: 30px; }
    #curriculum td, #curriculum th {
      width: 120px;
      height: 60px;
      font-size: 16px; }
    #curriculum thead tr th {
      height: 35px; }
  #curriculum {
    height: 60vh; }
    #curriculum #table-scroll {
      margin-top: 80px; }
    #curriculum td:first-child:before, #curriculum th:first-child:before {
      content: ""; }
    #curriculum th:before {
      content: "星期"; }
    #curriculum thead tr {
      top: 145px; }
  #sideBtns {
    position: fixed;
    right: -22px;
    bottom: 80px; }
    #sideBtns .sideBtn {
      margin-top: 30px;
      position: relative;
      width: 70px;
      height: 70px;
      text-align: center;
      border: 1px solid;
      border-radius: 22px;
      color: #FBFBFB;
      line-height: 26px; }
      #sideBtns .sideBtn span {
        font-size: 20px;
        position: absolute;
        top: 50%;
        height: 50px;
        margin-top: -25px;
        margin-left: -30px;
        letter-spacing: 15px;
        line-height: 25px; }
    #sideBtns .pinkBtn {
      background: #F67093;
      box-shadow: 0 0 0 10px rgba(253, 150, 173, 0.3); }
    #sideBtns .blueBtn {
      background: #6993E9;
      box-shadow: 0 0 0 10px rgba(139, 180, 255, 0.3); }
    #sideBtns .orangeBtn {
      background: #EB7338;
      box-shadow: 0 0 0 10px rgba(253, 158, 91, 0.3); } }

@media screen and (min-width: 1120px) {
  #curriculum {
    width: 1120px; }
    #curriculum td:first-child, #curriculum th:first-child {
      border-left: none;
      color: #352f2f;
      width: 40px;
      min-width: 40px; }
    #curriculum td, #curriculum th {
      width: 150px;
      height: 90px;
      font-size: 20px; }
    #curriculum thead tr th {
      height: 45px; }
  #curriculum #table-scroll {
    margin-top: 80px; }
  #curriculum thead tr {
    top: 135px; } }

@media screen and (min-width: 1440px) {
  #curriculum {
    width: 1250px; }
    #curriculum td:first-child, #curriculum th:first-child {
      border-left: none;
      color: #352f2f;
      width: 40px;
      min-width: 40px; }
    #curriculum td, #curriculum th {
      width: 165px;
      height: 90px;
      font-size: 20px; }
    #curriculum thead tr th {
      height: 45px; }
  #curriculum #table-scroll {
    margin-top: 80px; }
  #curriculum thead tr {
    top: 135px; } }

/* color */
.courseDetail-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .courseDetail-container .content {
    width: 70%;
    height: auto;
    margin-top: 50px;
    color: #423e3e; }
    .courseDetail-container .content .title {
      font-size: 24px;
      padding-bottom: 8px;
      border-bottom: 1px solid #423e3e;
      margin-bottom: 24px; }
    .courseDetail-container .content .list {
      width: 100%;
      font-size: calc( 0.5vw + 10px);
      display: inline-block;
      height: 30px;
      line-height: 30px; }
      .courseDetail-container .content .list * {
        display: inline-block;
        margin: 0px;
        padding: 0px; }
      .courseDetail-container .content .list .icon {
        width: 18px; }
      .courseDetail-container .content .list .desc {
        width: 40%;
        padding-left: 18px; }
      .courseDetail-container .content .list .content {
        width: 45%; }
    .courseDetail-container .content .btn-collect {
      margin-top: 30px;
      width: 100%; }
    .courseDetail-container .content .btn-list {
      display: inline-block;
      width: 20%;
      height: 40px;
      line-height: 40px;
      margin-right: 5%;
      font-size: calc( 0.5vw + 8px);
      text-align: center;
      color: white;
      transition-duration: 1s;
      letter-spacing: 3px; }
    .courseDetail-container .content .btn-list:hover {
      background-color: white;
      cursor: pointer; }
    .courseDetail-container .content .blue-btn {
      background-color: #8BB4FF;
      border: 1px solid #8BB4FF; }
    .courseDetail-container .content .blue-btn:hover {
      color: #5471D7; }
    .courseDetail-container .content .pink-btn {
      background-color: #FD96AD;
      border: 1px solid #FD96AD; }
    .courseDetail-container .content .pink-btn:hover {
      color: #DC4E6D; }
    .courseDetail-container .content .orange-btn {
      background-color: #FD9F5B;
      border: 1px solid #FD9F5B; }
    .courseDetail-container .content .orange-btn:hover {
      color: #EB7338; }
    .courseDetail-container .content .mi-btn {
      background-color: #EAD1C2;
      border: 1px solid #EAD1C2; }
    .courseDetail-container .content .mi-btn:hover {
      color: #D0A197; }

@media screen and (max-width: 900px), screen and (max-device-width: 900px) {
  .courseDetail-container .content {
    width: 90%; }
    .courseDetail-container .content .btn-list {
      width: 100%;
      margin-bottom: 20px; } }

/* color */
#triangle {
  position: absolute;
  top: 40px;
  right: 112px;
  width: 20px;
  height: 20px;
  border: 20px solid;
  border-color: transparent transparent #FBFBFB transparent; }

.notify-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .notify-container .content {
    width: 70%;
    height: auto;
    margin-top: 50px;
    color: #423e3e; }
  .notify-container .title {
    font-size: 24px;
    padding-bottom: 8px;
    border-bottom: 1px solid #423e3e;
    margin-bottom: 24px; }
  .notify-container .list {
    width: 100%;
    font-size: calc( 0.8vw + 6px);
    display: block;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #423e3e;
    margin-top: 10px;
    margin-bottom: 10px; }
    .notify-container .list .icon {
      border-radius: 5px;
      max-width: calc( 1vw + 14px);
      margin-bottom: 10px; }
    .notify-container .list .desc {
      width: 80%;
      padding-left: 2vw; }
  .notify-container #showNotify a {
    color: white; }

header .notify-container {
  position: absolute;
  top: 73px;
  width: 400px;
  height: 385px;
  right: 100px;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background: #FBFBFB;
  overflow: auto;
  padding-top: 20px;
  padding-left: 30px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px; }
  header .notify-container .content {
    width: 100%;
    margin-top: 0; }
    header .notify-container .content .title {
      display: none; }
    header .notify-container .content .date {
      display: none; }
  header .notify-container .list {
    border-bottom: 0;
    height: 50px;
    line-height: 20px;
    line-height: initial;
    margin-bottom: 40px;
    font-size: calc( 0.6vw + 6px); }
    header .notify-container .list .icon {
      float: left;
      display: block;
      max-width: calc( 1vw + 30px); }
    header .notify-container .list .desc {
      float: right;
      display: block;
      height: 50px;
      width: 85%;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 0;
      border-bottom: 1px solid #423e3e; }
  header .notify-container #showNotify {
    font-size: 14px;
    width: 100%;
    text-align: center; }
  header .notify-container #showNotify a {
    color: #6993E9; }

@media screen and (max-width: 900px), screen and (max-device-width: 900px) {
  .notify-container .content {
    width: 90%; } }

/*# sourceMappingURL=app.css.map */
